$mobile: 375px;
$desktop: 1440px;
$primary-color: hsl(193, 38%, 86%);
$secondary-color: hsl(150, 100%, 66%);
$font: "Manrope", sans-serif;
$neutral-blue: hsl(217, 19%, 38%);
$neutral-grey: hsl(217, 19%, 24%);
$neutral-navy: hsl(218, 23%, 16%);
$font-size: 28px;
